@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/orbitron/v23/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    background: black;
    place-items: center;
    text-align: center;
}

canvas{
    position: absolute;
    width: 1400px;
    height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 0; 
}

.arrow-1 {
    width:0px;
    height:0px;
    display: block;
    position: absolute;
    top: 35%;
    left: 47%;
    font-size: 25px;
    padding-left: 40px;
    transform: translate(-50%, -50%);
    background: rgb(138, 138, 138);
    width:50px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
}
.arrow-2 {
    width: 0px;
    height: 0px;
    background: white;
    display: block;
    position: absolute;
    top: 52%;
    left: 61%;
    
    padding-left: 40px;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    transform: rotate(180deg);
}
.arrow-3 {
    width: 0px;
    height: 0px;
    background: white;
    display: block;
    position: absolute;
    top: 61.5%;
    left: 61%;
    padding-left: 40px;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    transform: rotate(180deg);
}
.seta1-titulo{
    font-size: 0px;
    font-family: sans-serif;
    color: white;
    display: flex;
    position: absolute;
    top: 32%;
    left: 45%;
    padding-left: 40px;
    transform: translate(-50%, -50%);
}
.seta2-titulo{
    font-size: 0px;
    font-family: sans-serif;
    color: white;
    display: flex;
    position: absolute;
    top: 50%;
    left: 62%;
    padding-left: 40px;
    transform: translate(-50%, -50%);
}

.display{
    position: absolute;
    width: 1400px;
    height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.velocimetro{
    background-color: black;
    position: fixed;
    width: 96px;
    height: 46px;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    border: 2px groove red;  
    z-index: 2; 
}

.velocimetro h1{  
    font-family: 'Orbitron', sans-serif;
    color: rgb(204, 0, 0);
    font-size: 20px;
    font-weight: bold; 
    position: absolute;
    width: 100%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer{
    position: absolute;
    width: 1400px;
    height: 220px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: -webkit-inline-flex;
}

.column{
    width: 434px;
    height: 220px;
    color: white;
}

.slider{
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.slider .show-value{
    position: relative;
    width: 100%;
    height: 55px;
}

.slider .show-value span{
    position: absolute;
    font-size: 20px;
    top: 40%;
    width: 37px;
    height: 37px;
    /* background: #f5f5f5; */
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    left: 50%;
    /* transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 300mx ease-in-out; */
}

/* .slider .show-value span.active{
    transform: translateX(-50%) scale(1);
} */

.slider input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #f5f5f5;
    border-radius: 2px;
    outline: none;
    border: none;
}

.slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 30px;
    background: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.slider .range{
    margin-top: 15px;
    position: relative;
}

.slider .range div{
    position: absolute;
    color: #ddd;
    font-weight: 600;
}

.slider .range div:nth-child(2){
    right: 35%;
}

.slider .range div:nth-child(3){
    right: 0px;
}


#column2{
    margin-right: 48px;
    margin-left: 48px;
}


    
